// Gradient mixins

@mixin background-gradient-primary(
  $start-opacity: 0,
  $end-opacity: 0.3,
  $fade-to-white: false,
  $start-position: 0%,
  $end-position: 100%
) {
  @if $fade-to-white {
    background: linear-gradient(
      0deg,
      rgba(205, 232, 227, $start-opacity) $start-position,
      rgba(255, 255, 255, $end-opacity) $end-position
    );
  } @else {
    background: linear-gradient(
      0deg,
      rgba(205, 232, 227, $start-opacity) $start-position,
      rgba(205, 232, 227, $end-opacity) $end-position
    );
  }
}

@mixin background-gradient-secondary(
  $start-opacity: 0.5,
  $end-opacity: 0,
  $fade-to-white: false,
  $start-position: 0%,
  $end-position: 100%
) {
  @if $fade-to-white {
    background: linear-gradient(
      180deg,
      rgba(254, 246, 225, $start-opacity) $start-position,
      rgba(255, 255, 255, $end-opacity) $end-position
    );
  } @else {
    background: linear-gradient(
      180deg,
      rgba(254, 246, 225, $start-opacity) $start-position,
      rgba(254, 246, 225, $end-opacity) $end-position
    );
  }
}

// Button mixin

@mixin button-disabled {
  opacity: $btn-disabled-opacity !important;
  background-color: get-theme-value("gray", "100") !important;
  border-color: get-theme-value("gray", "100") !important;
  color: get-theme-value("gray-dark", "100") !important;
  cursor: default !important;
}

// Spinner mixin

@mixin with-spinner($size: "contain") {
  background-image: url("../../../public/images/public/spinners/spinner-pulse.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: $size;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
