// Our variables
// Loaded before anything else

// Navbar

$navbar-height: 120px !default;

// static pages content

$max-content-width: 680px !default;
$max-content-width-collapsed: 880px !default;
$content-padding-mobile: 20px !default;
$content-padding-desktop: 80px !default;
