.badge {
  &.badge_custom {
    display: inline-flex;
    align-items: center;
    padding: 0 0.875rem;

    font-size: $font-size-1;
    font-family: $font-family-primary;
    font-weight: $font-weight-medium;

    border: 1px solid transparent;
    background-color: get-theme-value("gray-light", "100");
    color: get-theme-value("gray-dark", "100");

    &.badge_size-sm {
      height: 1.5rem;
    }
    &.badge_size-md {
      height: 1.75rem;
    }
    &.badge_size-lg {
      font-size: $font-size-2;
      height: 2rem;
    }
  }
}
