.modal {
  .modal-close {
    background: none;
    border: none;
    color: get-theme-value("green-dark", "100");
    font-size: 18px;
    line-height: 1;
    padding: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    transition: $transition-base;

    &:hover {
      color: darken(get-theme-value("green-dark", "100"), 7.5%);
    }
  }

  .modal-dialog {
    &.modal-sm {
      .modal-header {
        padding: 2rem 2rem 1.5rem;
      }

      .modal-close {
        padding: 1rem;
      }

      .modal-body {
        padding: 0 2rem 2rem;
      }
    }
  }
}
