html {
  position: relative;
  min-height: 100%;
}

body {
  &.noscroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    // Class for page loader. It's supposed to be used with .noscroll class
    &.is-loading::after {
      @include with-spinner(6rem);
      position: fixed;
      content: "";
      z-index: 999998; // This is toastrs z-index - 1
      background-color: rgba(get-theme-value("white", "100"), 0.85);
    }
  }
}

div:focus {
  outline: none;
}

.cursor-pointer {
  cursor: pointer;
}

.p-page-top {
  padding-top: 1.5rem;

  @include media-breakpoint-down(sm) {
    padding-top: 1.1rem;
  }
}

.p-page-bottom {
  padding-bottom: 2rem;
}

.p-static-page-top {
  padding-top: $navbar-height;
}

// Classes for changing text, background and border color.
//
// Example:
// <span class="text-green-100">My super span with text color</span>
// <div class="bg-gray-80 border-gray-dark-100">My super div with background color and border color</div>

@each $color, $color-map in $theme {
  @each $color-name, $color-value in $color-map {
    .text-#{$color}-#{$color-name} {
      color: $color-value !important;
    }

    .bg-#{$color}-#{$color-name} {
      background-color: $color-value !important;
    }

    .border-#{$color}-#{$color-name} {
      border-color: $color-value !important;
    }
  }
}

.bg-none {
  background: none;
}

// Classes for changing opacity of elements

@for $i from 0 to 10 {
  .opacity-#{$i} {
    opacity: calc(#{$i} / 10) !important;
  }
}

.transition-none {
  transition: none !important;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.pseudo-none::before,
.pseudo-none::after {
  display: none;
}
